:root {
  --grey-lightest: #f7f9fa;
  --white: #ffffff;
  --grey: #c8d1dc;
  --dark-grey: #6b7785;
  --dark-blue: #002855;
  --dark-blue-border: #2b3f56;
  --green: #72cc18;
  --red-dark: #BB0C0C;
  --font-family: 'Nexa', sans-serif;
}

body {
  margin: 0px;
  height: 100%;
  padding-top: 110px;
}

@media screen and (max-width:650px) {
  body {
    padding-top: 66px !important;
  }

}

.purple-pattern-container {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("https://vzn-dmg-prdb-dist-cdn.azureedge.net/img/pattern.svg");
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position-x: calc(100% + 275px);
  background-size: 500px;
}

.container-daily {
  width: 100%;
  height: calc(100% - 160px);
  top: 62px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 16px;
  /* background-color: var(--grey-lightest); */
}

@media screen and (max-width:560px) {
  .container-daily {
    top: 70px !important;
    height: calc(100% - 170px);
  }

}

.header {
  min-width: 100%;
  height: 52px;
  background-color: var(--white);
  position: fixed !important;
  z-index: 1000;
  top: 0;
  box-shadow: inset 0px -1px 0p var(--grey);
  border-bottom: 1px solid var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-header {
  display: flex;
  align-items: center;
  width: 325px;
  margin-left: 16px;
}

.daily-logo {
  /* height: 24px; */
  width: 60px;
  margin-right: 24px;
}

.header-title {
  font-size: 12px;
  line-height: 16px;
  font-family: var(--font-family);
}

.right-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 24px;
}

.title {
  margin: 0;
  text-align: center;
}

.docs-button {
  justify-content: space-between;
}

.reload-button {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.arrow-icon {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.controls-button {
  justify-content: center;
  padding: 4px 8px;
  height: 30px;
  margin: 4px;
}

.control-icon {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.white-button {
  color: var(--dark-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--white);
  border: 1px solid var(--grey);
  padding: 8px 16px;
  border-radius: 8px;
  flex: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.divider {
  background: var(--grey);
  margin: 0 16px;
  display: block;
  height: 32px;
  width: 1px;
}

.octocat {
  height: 24px;
  width: 24px;
}

.wrapper {
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#share-url {
  position: fixed;
  bottom: 1rem;
  display: flex;
  align-items: center;
  z-index: 9999999999999999999999;
}

#url-span {
  border: 0;
  border-radius: 0;
  padding: 5px 10px;
  outline: none;
  width: 18rem;
}

#clone-url {
  font-family: 'Nexa';
  background-color: #002855;
  border: none;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 7px 15px 9px;
  border-radius: 5px;
  line-height: 1;
  text-transform: capitalize;
  cursor: pointer;
}

.in-lobby {
  width: 700px;
  height: 35rem;
  /* height: 600px; */
}

.in-call {
  /* width: 50%; */
  height: 100%;
  position: relative;
}

.call-controls-wrapper {
  display: none;
  width: 50%;
  height: 100%;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.call-controls {
  width: 100%;
  max-width: 620px;
  height: 100%;
}

.controls-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin: 24px;
  border-bottom: 1px solid var(--grey);
}

.controls-copy-url {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-bottom: 1px solid var(--grey);
  padding-bottom: 24px;
  margin: 0px 24px;
}

.copy-url-action {
  display: flex;
}

.copy-url-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  min-width: 100px;
  height: 32px;
  border-radius: 8px;
  margin: 0px 8px;
  background: var(--dark-blue);
  border-width: 0px;
  font-family: var(--font-family);
}

.controls-stats {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-bottom: 1px solid var(--grey);
  padding-bottom: 24px;
  margin: 0px 24px;
}

.controls-custom-example {
  margin: 24px;
  padding-bottom: 24px;
}

.stats-wrapper {
  display: flex;
  justify-content: space-between;
}

.stats-row {
  display: flex;
  justify-content: space-between;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.custom-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
}

.start-container {
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.prompt {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.start-button img {
  width: 100%;
}

.start-button {
  width: 280px;
  height: 32px;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 3rem;
  color: var(--dark-blue);
  background-color: transparent;
  /* border-radius: 8px; */
  border-width: 0px;
  cursor: pointer;
}

.url-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
}

.url-prompt {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--dark-grey);
  margin-bottom: 0px;
}

.url-click {
  text-decoration: underline;
  cursor: pointer;
}

.url-input {
  width: 280px;
  height: 32px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--grey);
  font-family: var(--font-family);
}

.disabled-button {
  background-color: var(--grey-lightest);
  border: 1px solid var(--grey);
}

.show {
  visibility: visible;
}

.hide {
  display: none !important;
}

.button:active {
  color: black;
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-title {
  color: var(--red-dark);
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
}

.error-description {
  font-size: 12px;
  line-height: 16px;
  padding: 0 16px;
  text-align: center;
}

@media screen and (max-width:700px) {

  #note-text,
  #lobby-heading {
    font-size: 16px !important;
  }

}

@media screen and (max-width:860px) and (min-width:700px) {

  #note-text,
  #lobby-heading {
    font-size: 20px !important;
  }

}


#note-text,
#lobby-heading {
  font-size: 24px;
  margin: 0;
  padding: 15px;
  font-weight: 700;
  color: #002855;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



#lobby-heading.hide {
  display: none !important;
}

#lobby-heading {
  position: relative !important;
  display: flex !important;
}

#start-transcription {
  cursor: pointer;
  position: absolute;
  outline: none !important;
  border: none !important;
  background-color: transparent;
  width: 70px;
  right: 3rem;
  bottom: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start-transcription img {
  width: 20px;
  margin-bottom: 2px;
}


#transcript-container {
  position: absolute;
  bottom: 8rem;
}

#transcript-container p {
  margin: 0;
  color: #fff;
  font-size: 16px;
}

@media screen and (max-width: 700px) {
  .header-title {
    display: none;
  }

  .left-header {
    width: 65px;
  }

  .container {
    flex-direction: column;
  }

  .url-form {
    width: 50%;
  }

  .in-call {
    width: 100%;
  }

  .in-lobby {
    width: 100%;
    height: 38rem;
  }

  #url-span {
    width: 10rem;
  }

  #share-url {
    bottom: 0rem;
  }

  .call-controls-wrapper {
    width: 100%;
    margin-top: 0px;
  }

  .call-controls {
    width: 100%;
  }
}